#isso-thread .text-wrapper, #isso-thread .textarea {
    color: black;
}

#isso-thread .preview-mode {
    background: repeating-linear-gradient(-45deg, #6B8790, #6B8790 10px, #7E93C8 10px, #7E93C8 20px );
}

.isso-comment .text, .isso-comment .h1, .isso-comment .h2 {
    color: white;
}

.isso-comment .h3, .isso-comment .h4, .isso-comment .h5 {
    color: #CCD7EB;
}
