{% if article.photo_gallery %}
<!-- PHOTO plugin: article gallery -->
{% if article.photo_gallery %}
<div class="gallery">
    {% for title, gallery in article.photo_gallery %}
      <h1>{{ title }}</h1>
        {% for name, photo, thumb, exif, caption in gallery %}
            <a href="{{ SITEURL }}/{{ photo }}" title="{{ name }}" exif="{{ exif }}" caption="{{ caption }}"><img src="{{ SITEURL }}/{{ thumb }}"></a>
        {% endfor %}
    {% endfor %}
</div>
{% endif %}
<!-- PHOTO plugin: article gallery -->
{% endif %}
<script data-isso="{{ ISSO_URL }}/" src="{{ ISSO_URL }}/js/embed.min.js"></script>
<section class="comments" id="comments">
    <h3 class="panel">Comments</h3>
        <section id="isso-thread"></section>
</section>